alembic
aniso8601
attrs

certifi
chardet
Click
Faker
Flask
Flask-Cors
flask-marshmallow
Flask-Migrate
flask-restx
Flask-Script
Flask-SQLAlchemy
Flask-Testing

gunicorn
idna
itsdangerous
Jinja2
jsonschema
ldap3
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
pyasn1
pyasn1-modules
PyJWT
pylint
pyrsistent
python-dateutil
python-editor
pytz
requests
six
SQLAlchemy
unittest-xml-reporting
urllib3<1.25,>=1.21.1
uwsgi
